/* style the background of the body */
body {
  background-color: peachpuff;
  opacity: 70px;
  padding: 20px;
}
/* style the list */
li {
  list-style-type: circle;
  color: coral;
}
/* style the ordered list */
ol {
  color: lime;
  padding: 5px;
}
/* style all elements with the word special*/
.special {
  color: mediumslateblue;
}
/* styling the information in the fieldset tag*/
fieldset {
  border: 1px inset gold;
  width: 500px;
  text-align: center;
  background-color: honeydew;
}
/* styles the link */
a[href] {
  color: yellowgreen;
  font-size: 20px;
}
