/* affect the body */
* {
  margin: 0px; /* Center website */
  padding: 0px;
  /* Make sure that padding behaves as expected */
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed; /* Stay in one place */
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
}
/* style the content in the container */
.container {
  width: 100%; /* Full width (cover the whole page) */
  position: relative;
  background: rgba( 0, 0,0,0.5 ); /* affects the background brightness */ /* Black background with opacity */
}
/* style the row div */
.container .row {
  width: 80%; /* Could be more or less, depending on screen size */
  margin: auto; /* margin is equal */
}
/* style the header */
.container .row .header {
  width: 60%;
  margin: auto;
  text-align: center; /* place text in center */
}
.container .row .header h1 {
  font-size: 50px; /* size is increased */
  color: lightpink;
  padding-top: 35px; /* Add top padding */
}
.container .row .header p {
  color: lightsalmon;
  font-size: 18px;
  margin-top: 15px; /* difference in margin from the top */
  line-height: 1.5; /* height of the lines */
}
.content {
  display: flex; /* items are made to be on the same line */
  justify-content: center; /* content is justified in the center to even page */
  align-items: center; /* items are centered */
  margin: auto;
}
.content .card {
  flex: 1;
  margin: 50px 20px; /* affects the margin beside the content and in between the content */
  /* Add shadows to create the "card" effect */
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  border-radius: 25px; /* Rounded border */
  overflow: auto; /* corners are affected */
}
.content .card .footer1 {
  color: lightseagreen;
  display: flex;
  justify-content: space-around; /* space around the content is even and the content is even in spacing */
  background-color: lightgreen;
  padding: 20px; /* affects the space around the content and the background color */
  border-left: 10px; /* border to the left of the content is affected by 10px */
}
.content .card .footer2 {
  color: lightcyan;
  display: flex;
  justify-content: space-around;
  background-color: lightpink;
  padding: 20px;
  border-left: 10px;
}
.content .card .footer3 {
  color: rgb(189, 82, 100);
  display: flex;
  justify-content: space-around;
  background-color: lightcyan;
  padding: 20px;
  border-left: 10px;
}
/* On mouse-over, effect on the content */
.content .card:hover {
  font-weight: bolder; /* affects the bolderness of the content inside the card */
  transform: translateY(
    -5px
  ); /* affects the card specificaly when hovered over */
}
.content .card .man {
  color: aqua;
}
.content .card .boy {
  color: cornflowerblue;
}
.content .card .woman {
  color: paleturquoise;
}
.content .card img {
  width: 100%; /* full width */
  height: auto;
}
.content .card h4 {
  color: rgb(121, 118, 53);
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
}
.content .card h6 {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}
.content .card p {
  font-size: 15px;
  color: #6e6e6e;
  line-height: 1.5; /* affects the height of the line */
  padding: 10px;
}
/* flex content in column form on screens that are equal to or less than 768px wide */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column; /* direction of the content */
  }
}
